.green {
  color: green;
}

.red {
  color: red;
}
.list {
  display: flex;

  align-items: center;
  gap: 30px;
  list-style: none;
  margin-top: 24px;
  margin-bottom: 24px;
  .item {
    border: 2px solid black;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
  }
}

.img {
  display: block;
  margin-bottom: 15px;
}
.name {
  font-weight: bold;
  font-family: sans-serif;
}
.status {
  font-style: italic;
}
